<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="facture.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <title>Facture</title>
</head>
<body>
    <section id="content">

        <Div id="idSeller" class="identification">
            <p id="nameSeller">Prenom Nom VENDEUR</p>
            <p id="addressSeller">Adresse VENDEUR</p>
            <p id="cpSeller">CP VENDEUR</p>
            <p id="citySeller">Ville VENDEUR</p>
        </Div>

        <div id="title">
            FACTURE
        </div>

        <div id="idBuyer" class="identification">
            <p id="nameBuyer">Prenom Nom VENDEUR</p>
            <p id="addressBuyer">Adresse VENDEUR</p>
            <p id="cpBuyer">CP VENDEUR</p>
            <p id="cityBuyer">Ville VENDEUR</p>
        </div>

        <div id="date">
            LE <div id="dateValue">XX/XX/XXXX</div>
        </div>

        <div id="Product">
            <div id="designation">Designation :</div>
            <div id="quantity">Quantité :</div>
            <div id="price">Prix Unitaire :</div>
            <div id="total">Total :</div>
            <div id="designationValue">Texte</div>
            <div id="quantityValue">Int</div>
            <div id="priceValue">X €</div>
            <div id="totalValue">X €</div>
        </div>

        <div id="FogDescription">
            <p>Facture générée établie par Fog.fr pour la transaction entre deux particuliers</p>
            <p>La responsabilité de l'exactitude des données présente sont à la charge des parties concernées</p>
        </div>

    </section>
</body>
</html>
