body, html {
    padding: 0;
    margin: 0;
    font-family:  'Roboto', sans-serif;
    min-height: 100vh;
    position: relative;
    background-image: url("../img/background.png");
    background-size:cover;
    background-repeat: no-repeat;
}
#main{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#main h1{
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
}
form{
    font-family:  'Roboto', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    border-radius: 1vw;
    font-size: 1.1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #EBECEF;

}
form input{
    font-family:  'Roboto', sans-serif;
    width: 20vw;
    height: 5vh;
    font-size: 1.1vw;
    margin-top: 2vh;
    border: none;
    border-bottom: 0.5vh solid black;
    background-color: #EBECEF;
    margin-bottom: 2vh;
}
form input:focus{
    border-bottom: 0.5vh solid #4264aa;
}
form input[type=file]{
    border-bottom: none;
}
form input[type=checkbox]{
    width: 3vw;
    height:3vh;
}
form select{
    width: 20vw;
    height: 5vh;
    font-size: 1.1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family:  'Roboto', sans-serif;
}
form textarea{
    font-family:  'Roboto', sans-serif;
    width:20vw;
    font-size: 1.1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 20vh;
}
button{
    height: 5vh;
    font-size: 1.2vw;
    background-color: #4264aa;
    border: 0.3vh solid #4264aa;
    color: white;
    width: 10vw;
    cursor: pointer;
}
button:focus, button:hover{
    background-color: #EBECEF;
    color: #4264aa;
    transition: 200ms;
}
#checkbox_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1024px){
    #main form{
        width: 90vw;
        font-size: 2vh;
    }
    #main form input{
        width: 80vw;
        border-bottom: 0.2vh solid black;
        font-size: 2vh;
    }
    #main form input[type=file]{
        border-bottom: none;
    }
    #main form select{
        width: 80vw;
        font-size: 2vh;
        height: 3vh;
    }
    #checkbox_div{
        justify-content: center;
        display: flex;
    }
    #main form textarea{
        width: 80vw;
        font-size: 2vh;
    }
    #main form input[type=checkbox]{
        width: 10vw;
    }
    #main form input[type=file]{
        width: 50vw;
    }
    #main form button{
        width: 30vw;
        font-size: 2Vh;
    }
    #main h1{
        font-size: 3Vh;
    }
}