#header header{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 8vh;
    padding-bottom: 2vh;
    background-color: white;
}
#button_ad{
    width: 14vw;
}
#logo_fog{
    width: 7vw;
}
#logo_bell{
    width: 2vw;
}
#logo_admin{
    width: 2vw;
}
#container_menu{
    float: right;
    width: 25vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    margin-right: 2vw;
}
#container_user{
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logo_user{
    margin: auto;
    width: 2vw;
}
#container_user p{
    font-size: 2vh;
    margin: 0;
}
#logo_fog{
    float: left;
    margin-left: 1vw;
    width: 6vw;
    margin-top: 0.5vh;
}
#burger{
    display: none;
}
@media screen and (orientation: portrait) {
    #header{
        margin-top: 0;
        height: 8vh;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        width: 100vw;
    }
    #header2{
        display: none;
        margin: 0;
        background-color: white;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        padding: 0;
    }
    #logo_fog{
        padding-top: 5vh;
        width: 30vw;
        margin: auto;
        display: block;
        float: none;
    }
    #container_menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 70vh;
        width: 100vw;
        margin: auto;
    }
    #logo_user{
        width: 20vw;
    }
    #button_ad{
        width: 50vw;
    }
    #logo_bell{
        width: 10vw;
    }
    #logo_admin{
        width: 10vw;
    }
    #container_user{
        text-align: center;
    }
    #burger{
        margin-right: 2vw;
        right: 0;
        width: 8vh;
        z-index: 100;
        display: flex;
        align-items: center;
        position: fixed;
        cursor: pointer;
    }
}
