body, html {
    padding: 0;
    margin: 0;
    font-family:  'Roboto', sans-serif;
    min-height: 100vh;
    position: relative;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#main{
    margin-top: 5vh;
    margin-bottom: 10vh;
}
#main form{
    margin: auto;
    border-radius: 1vw;
    width: 50vw;
    height: auto;
    background-color: #EBECEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
    margin-top: 10vh;
}
#main form h2{
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 1.5vw;
}
#main h1{
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
    padding-top: 2vh;
}
#main a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2vw;
}
#main a p span{
    color: #4264aa;
    text-decoration: underline;
}
#username{
    width: 15vw;
    height: 5vh;
    background-image: url('../img/user.png');
    background-size: 1.7vw;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 2vw;
    border: none;
    background-color: #EBECEF;
    border-bottom: 0.5vh solid black;
    margin-top: 2Vh;
    font-size: 1vw;
    margin-bottom: 2vh;
    outline: none;
}
#password{
    width: 15vw;
    height: 5vh;
    background-image: url('../img/password.png');
    background-size: 1.7vw;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 2vw;
    border: none;
    font-size: 1vw;
    background-color: #EBECEF;
    border-bottom: 0.5vh solid black;
    margin-top: 2vh;
    margin-bottom: 4vh;
    outline: none;
}
#password:focus, #username:focus{
    border-bottom: 0.5vh solid #4264aa;
}
#submit{
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #4264aa;
    color: white;
    border: 0.3vh solid #4264aa;
    padding: 1vh 3vw 1vh 3vw;
    font-size: 1vw;
    cursor: pointer;
}
#submit:hover, #submit:focus{
    background-color: #EBECEF;
    color: #4264aa;
    transition: 200ms;
}
#message_error{
    text-align: center;
    color: red;
}
@media screen and (max-width: 1024px){
    body{
        padding-top: 10vh;
    }
    #main h1{
        font-size: 3vh;
    }
    #main form{
        width: 90vw;
        height: 60vh;
    }
    #main form input{
        width: 80vw;
        border-bottom: 0.1vh solid black;
        font-size: 2vh;
    }
    #main form h2{
        font-size: 3vh;
    }
    #message_error{
        font-size: 3vh;
    }
    #main a{
        font-size: 3vh;
    }
}