@font-face {
    font-family: "BubbleGum";
    src: url("../font/Bubblegum.ttf");
  }
  
body, html{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    position: relative;
    font-family:  'Roboto', sans-serif;
}

#form form{
    margin: auto;
    margin-top: 10vh;
    height: 20vh;
    border: 1px solid #707070;
    width: 40vw;
    height: 20vh;
    font-family: "BubbleGum";
}
#form input{
    margin-top: 3vh;
    font-family: "BubbleGum";
    height: 4vh;
    padding-left: 1vw;
    text-transform: lowercase;
}
#form input::placeholder{
    color: #D5D5D5;
    text-transform: uppercase;
}
#form select{
    margin-top: 3vh;
    font-family: "BubbleGum";
    color: #D5D5D5;
    width: 10vw;
}
#submit_search{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}
#container_input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#content{
    font-family: "BubbleGum";
    color: #707070;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    position: relative;
    
}
#content h1{
    margin-left: 5vw;
}
#content #category{
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
}
#slide_category1, #slide_category2, #slide_category3, #slide_category4, #slide_category5, #slide_category6{
    background-color: black;
    width: 10vw;
    height: 20vh;
}
#content #user_suggestion{
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
}
#slide_suggestion1, #slide_suggestion2, #slide_suggestion3, #slide_suggestion4, #slide_suggestion5, #slide_suggestion6{
    background-color: black;
    width: 10vw;
    height: 20vh;
}
#content #rand_category{
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
}
#slide_rand1, #slide_rand2, #slide_rand3, #slide_rand4, #slide_rand5, #slide_rand6{
    background-color: black;
    width: 10vw;
    height: 20vh;
}
